
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Zoho-Sans';
  src:
       url('/fonts/Zoho_Puvi_Regular.ttf') format('truetype');
  /* font-weight:400 ; */
  /* font-style: normal;
  line-height: 70px;
  font-display: swap; Ensures text remains visible during font load */
}

@font-face {
  font-family: 'gilroy';
  src:
       url('/fonts/Gilroy-Medium.ttf') format('truetype');
       
  /* font-weight:400 ; */
  /* font-style: normal;
  line-height: 70px;
  font-display: swap; Ensures text remains visible during font load */
}


html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #0b0b0b;
  }
}

body {
  color: var(--foreground);
  background:white
}

.text-responsive {
  font-family: 'Zoho Sans', sans-serif;
  font-size: 54px; /* default size */
  line-height: 54px;
}

@media screen and (max-width: 1200px) {
  .text-responsive {
    font-size: 45px;
  }
}

@media screen and (max-width: 992px) {
  .text-responsive {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .text-responsive {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .text-responsive {
    font-size: 36px;
    line-height: 38px;
  }
}



@layer utilities {

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::-webkit-scrollbar-corner {
    background: #f1f1f1;
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
      @apply scroll-smooth;
  
  }
}

h1, h2, h3 {
  font-family: 'Zoho Sans', sans-serif;
}

p,li{
  font-family: 'gilroy';
  font-size: 18px;
}



.content-scroll {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.content-scroll::-webkit-scrollbar {
  display: none;
}
